.footer {
  background-color: var(--brown);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding-left: 21%;
  justify-content: flex-start;
  flex-direction: row;
  gap: 18px;
  align-content: center;
  align-items: center;
}

.text-footer {
  background-color: var(--brown);
  color: var(--peach);
  padding: 0px 14px 0 0;
}

.link-card {
  position: relative;
  width: 25px;
  height: 25px;
}

.link-card img {
  width: 100%;
  object-fit: contain;
  transition: all 0.1s ease-in-out;
}

.link-card img:hover {
  transform: scale(1.3);
  opacity: 0.5;
}
