.nav {
  background-color: var(--brown);
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--headerfont);
  padding: 0px 0px 0px 13px;
  margin-top: 0.5vh;
}

.divisor {
  width: 1mm;
  height: 54px;
  background-color: var(--peach);
}

.link {
  color: var(--peach);
  font-size: 22px;
  width: 19.8vw;
}

.nav button {
  cursor: pointer;
  border: none;
  font: inherit;
  color: var(--peach);
  background: none;
  font-size: 22px;
}

.nav-logout button:hover {
  z-index: 10;
  font-size: 26px;
  color: var(--brown);
  font-weight: 900;
  padding: 0;
}

.link:hover p {
  background: var(--peach);
  color: var(--brown);
  padding: 14px 0px;
  font-weight: 900;
 }

@media screen and (max-width: 600px) {
  .nav {
    width: 100%;
    flex-direction: column;
    background: var(--brown);
    height: auto;
  }
  .nav p {
    margin: 0px;
    font-size: 18px;
  }
  .divisor {
    display: none;
  }
}
