.scroll-button {
  position: fixed;
  bottom: 0;
  right: 13vw;
}

.scroll-button button {
  color: var(--peach);
  text-align: center;
  background: var(--brown);
  border: none;
  font-size: 36px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px;
  transition: opacity 0.1s ease-in-out;
  border-radius: 10px 10px 0 0;
}

.scroll-button button:hover {
  cursor: pointer;
  padding: 20px;
  font-size: 42px;
}
.scroll-button:hover {
  right: 12.7vw;
}

.to-top-button {
  color: var(--brown);
  text-align: center;
  background: var(--peach);
  border: none;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px var(--brown);
}