.loggedIn-page {
  font-family: var(--headerfont);
}

.logged-user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  color: var(--brown);
  gap: 40px 0px;
  margin-bottom: 4vh;
}

#logged-in-header{
  padding: 10px 0px 0px 0px;
}

.loggedIn-page h3 {
  margin: 30px 0 0 0;
}

.image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1mm solid var(--brown);
  box-shadow: 0px 0px 4px var(--brown);
}

.image img {
  width: 250px;
  max-width: 250px;
  height: 250px;
  object-fit: contain;
}

.nav-logout {
  width: 19.8vw;
  display: inline-flex;
}

.logout-button {
  width: 150px;
  height: 40px;
  color: var(--brown);
  background: var(--peach);
  border: none;
  font-size: 18px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px var(--brown);
}

.logout-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px var(--brown);
  font-size: 22px;
}
