.users {
  width: 60vw;
  margin-left: 20.5%;
  min-height: 60vh;
}

.users h2 {
  font-family: var(--headerfont);
  color: var(--brown);
  font-size: 32px;
  margin: 0px;
  padding: 40px 0px 24px 0px;
}

.users-section {
  align-items: baseline;
  width: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  gap: 24px 16px;
  margin: 0 0 4vh 0;
}

.user-li {
  border: 1mm solid var(--brown);
  border-radius: 10px;
  width: 195px;
  height: 290px;
  overflow: hidden;
  background: white;
  color: var(--brown);
  box-shadow: 0px 0px 4px var(--brown);
}
