.users {
  width: 60vw;
  margin-left: 20.1%;
  min-height: 59.75vh;
}

.users h2 {
  font-family: var(--headerfont);
  color: var(--brown);
  font-size: 32px;
  margin: 0px;
  padding: 40px 0px 24px 0px;
}

.users-section {
  width: inherit;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 4vh 0;
  gap: 16px;
}
