.logout-page {
  width: 60vw;
  margin-left: 20.5%;
  min-height: 59.75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.logout-page h2 {
  font-family: var(--headerfont);
  color: var(--brown);
  font-size: 32px;
  margin: 0px;
  padding: 40px 0px 0px 0px;
}

.logout-page h3 {
  margin: 0px;
  color: var(--brown);
}

.logout-page p {
  color: var(--brown);
  font-size: 20px;
  margin: 0;
}

.logout-page button {
  width: 150px;
  height: 40px;
  background: var(--peach);
  border: none;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px var(--brown);
}

.logout-page button:hover {
  margin: 0;
  cursor: pointer;
  box-shadow: 0px 0px 2px var(--brown);
}

.logout-page button:hover p {
  font-size: 22px;
}
