.category-page {
  width: 60vw;
  margin-left: 20.5%;
}

.category-page h2 {
  font-family: var(--headerfont);
  color: var(--brown);
  font-size: 32px;
  margin: 0px;
  padding: 40px 0px 24px 0px
}

.review-box {
  padding: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3vh 1vw;
  width: 100%;
  margin: 0px 0px 14vh 0px;
  justify-content: center;
}
