.category-card {
  width: 300px;
  height: 350px;
  overflow: hidden;
  color: black;
  font-size: 1.5em;
  background-color: whitesmoke;
  box-shadow: 5px 5px 30px var(--brown);
  border-radius: 100px 0px;
}

.category-name {
  color: black;
  text-align: left;
  padding-left: 20px;
  margin-top: 24px;
  position: relative;
}

.category-card:hover .category-name {
  margin-top: -50%;
  font-size: 208%;
  text-align: center;
  font-weight: 900;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.category-card:hover img {
  transform: scale(2);
  opacity: 0.5;
}
