.categories-container {
  margin: auto;
  padding-left: 0px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 10px;
}

#categories-header {
  position: relative;
  margin: 0px auto 50px auto;
  color: var(--darkberry);
  font-size: 62px;
  text-shadow: -1px 0 var(--berry), 0 1px var(--berry), 1px 0 var(--berry),
    0 -1px var(--berry);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.more-categories {
  width: 60vw;
  height: 70px;
  margin: 45px 0px;
  font-size: 24px;
  background-color: var(--berry);
  border: 1mm solid var(--darkberry);
}

.more-categories:hover {
  cursor: pointer;
  font-size: 32px;
  background-color: var(--darkberry);
  border: 1mm solid var(--berry);
}
