.categories {
  width: 60vw;
  margin-left: 20.5%;
}

.section-categories {
  display: inline-flex;
  align-items: baseline;
  width: inherit;
  justify-content: left;
  padding-left: 4px;
}

.categories-container {
  padding-left: 0px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  gap: 0px 1vw;
}

#categories-header {
  font-family: var(--headerfont);
  color: var(--brown);
  font-size: 32px;
  margin: 0px;
  padding: 24px 0px;
}

.more-categories {
  margin: 0px;
  font-size: 20px;
  color: var(--lightbrown);
  padding-left: 24px;
  font-family: var(--headerfont);
}

.more-categories:hover {
  cursor: pointer;
  font-size: 27px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
