.review-card {
  position: relative;
  width: 248px;
  height: 400px;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: 0px 0px 4px var(--brown);
  border-radius: 10px 10px;
  border: 1mm solid var(--brown);
}

.review-card img {
  padding: 0px;
  width: 100%;
  max-width: 400px;
  height: 275px;
  object-fit: cover;
  transition: transform 0.1s;
}

.review-intro {
  position: absolute;
  top: calc(55.5% + 106px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--brown);
  font-size: 22px;
  transition: all 0.1s ease-in-out;
  width: inherit;
}

.review-intro h4 {
  margin: 14px 6px 12px 5px;
}

.review-intro p {
  margin: 0vh;
  font-size: 1vw;
}

.review-card:hover .review-intro {
  top: 50%;
  font-size: 200%;
  padding: inherit 15px;
}

.review-card:hover img {
  margin-top: 25%;
  transform: scale(2);
  opacity: 0.5;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media (max-width: 400px) {
  .review-card {
    width: 280px;
    height: 450px;
    border: 4mm ridge var(--brown);
    overflow: hidden;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
  }
  .review-card .review-intro {
    top: calc(
      50% + 30px
    ); /* 30px is the margin between image and .review-intro */
  }
  .review-card:hover .review-intro {
    width: 280px;
    font-size: 200%;
    object-fit: cover;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    height: 450px;
    top: 40%;
  }
}
