.reviews {
  width: 100%;
  margin: 0px;
}

.review-container {
  margin: auto;
  padding-left: 0px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 10px;
}

.reviews h2 {
  font-family: var(--headerfont);
color: var(--brown);
font-size: 32px;
margin: 0px;
padding: 24px 0px;
}
