.header {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: #675d5080;
  border-bottom: 1mm solid var(--brown);
  height: 100vh;
}

.header h1 {
  color: var(--peach);
  font-family: var(--headerfont);
  font-size: 160px;
  text-shadow: -1px 0 var(--brown), 0 1px var(--brown), 1px 0 var(--brown),
    0 -1px var(--brown);
  text-align: left;
  margin-top: 18.5%;
  margin-left: 99px;
}

.header.site-link {
  width: 50px;
  height: 50px;
  align-self: center;
  margin: 10px;
}

.logo {
  width: 350px;
  height: 350px;
  align-self: center;
  margin-left: 150px;
}
