nav {
  width: 50%;
  height: 70px;
}

.nav {
  display: inline-flex;
  align-items: baseline;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

nav p {
  margin-left: 25px;
}
