nav {
  width: 100%;
  background-color: var(--brown);
}

.nav {
  height: 54px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--headerfont);
  padding-left: 13px;
}

.nav p {
  color: var(--peach);
  font-size: 22px;
  padding: 14px 128px;
}

.nav button {
  border: none;
  font: inherit;
  color: var(--peach);
  background: none;
  font-size: 22px;
  padding: 14px 128px;
}

#no-border {
  border: none;
  padding: auto 128px;
}

#border {
  border-right: 1mm solid var(--peach);
  border-left: 1mm solid var(--peach);
}
