.comments {
  width: 100%;
}

.comments-list {
  display: flex;
  margin: 40px 0 0 0;
  padding: 10px 0;
  flex-direction: column;
  gap: 20px;
}

.comments h4 {
  font-family: var(--headerfont);
  color: var(--brown);
  font-size: 32px;
  margin: 0px;
  padding: 0px 0px 24px 0px;
}

#no-comments {
  font-size: 20px;
  display: flex;
  margin: 40px 0;
  padding: 40px;
  box-shadow: 0px 0px 4px var(--brown);
  border-radius: 10px;
  border: 1mm solid var(--brown);
  background-color: var(--white);
  color: var(--brown);
}
