.post-comment {
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0px 0px 4px var(--brown);
  border-radius: 10px;
  border: 1mm solid var(--brown);
  background-color: var(--white);
  color: var(--brown);
  font-size: 16px;
  justify-content: center;
  text-align: left;
}

.signin-button {
  width: 290px;
  height: 40px;
  padding: 10px;
  margin: 0;
  background: var(--peach);
  color: var(--brown);
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--brown);
  line-height: 40px;
  align-self: center;
}

.new-comment {
  width: -moz-available;
  border: 1mm solid var(--brown);
  border-radius: 10px;
  padding: 16px;
  margin: 0;
  font-size: 16px;
}

.new-comment:focus {
  border: 1mm solid var(--peach);
  outline: none;
  color: var(--brown);
}

.comment-form .button {
  width: 150px;
  height: 40px;
  padding: 0;
  margin: 20px 0 10px 1%;
  background: var(--peach);
  color: var(--brown);
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--brown);
  line-height: 40px;
  align-self: flex-start;
}

.comment-form .button:hover:not(.disabled) {
  box-shadow: 0px 0px 2px var(--brown);
  cursor: pointer;
}

.disabled {
  width: 150px;
  height: 40px;
  padding: 0;
  margin: 20px 0 10px 1.5%;
  background: var(--peach);
  color: var(--brown);
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--brown);
  line-height: 40px;
  align-self: flex-start;
  pointer-events: none;
  opacity: 0.6;
}

.success-message {
  text-align: left;
  padding-left: 22px;
  margin-top: 0px;
  border: 1mm solid #799351;
  background: #79935520;
}
.success::placeholder {
  opacity: 0.9;
  font-size: 18px;
  font-weight: 400;
  color: var(--brown);
}

.error-message {
  color: #a20a0a;
  text-align: left;
  padding-left: 22px;
  margin-top: 0px;
  border: 1mm solid #a20a0a;
  background: #a20a0a10;
}

.error::placeholder {
  opacity: 0.8;
  color: #a20a0a;
}
