.post-comment {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 0px 4px var(--brown);
  border-radius: 10px;
  border: 1mm solid var(--brown);
  background-color: whitesmoke;
  color: var(--brown);
  font-size: 16px;
}

.post-comment label {
  align-self: flex-start;
}

.new-comment {
  width: -moz-available;
  border: 1mm solid var(--brown);
  border-radius: 10px;
  padding: 16px;
  margin: 0;
  min-height: 60px;
  font-size: 16px;
}

.new-comment:focus {
  border: 1mm solid var(--peach);
  outline: none;
  color: var(--brown);
}

.post-comment button {
  width: 150px;
  height: 40px;
  padding: 0;
  margin: 26px 44% 10px 44%;
  background: var(--peach);
  color: var(--brown);
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--brown);
}

.post-comment button:hover:not(.disabled) {
  box-shadow: 0px 0px 2px var(--brown);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.success-message {
  color: #799351;
  text-align: left;
  padding-left: 2px;
  margin-top: -12px;
}

.success {
  border: 1mm solid #799351;
  background: #79935110;
}

.success::placeholder {
  opacity: 0.7;
  color: #799351;
}

.error-message {
  color: #a20a0a;
  text-align: left;
  padding-left: 2px;
  margin-top: -12px;
}

.error {
  border: 1mm solid #a20a0a;
  background: #a20a0a10;
}

.error::placeholder {
  opacity: 0.7;
  color: #a20a0a;
}
