.comment-card {
  width: inherit;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0px 0px 4px var(--brown);
  border-radius: 10px;
  border: 1mm solid var(--brown);
}

.singular-comment {
  color: var(--brown);
  font-size: 16px;
  margin: 26px 50px;
  text-align: left;
}

#comment-body {
  text-align: justify;
  margin: 3vh 0px 4vh 0px;
  font-size: 18px;
  font-style: italic;
}

.comment-vote {
  display: inline-flex;
  font-size: 16px;
  align-items: center;
}

.comment-vote button {
  margin: 0px 10px 0 0;
  padding: 4px 14px;
  background: var(--peach);
  color: var(--brown);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px var(--brown);
}

li {
  list-style: none;
}

.comment-vote button:hover {
  box-shadow: 0px 0px 2px var(--brown);
  cursor: pointer;
}
