:root {
  --mint: #abc4aa;
  --lightbrown: #a9907e;
  --brown: #675d50;
  --peach: #f3deba;
  --mainfont: "Noto Sans", sans-serif;
  --headerfont: "Rubik Vinyl", cursive;
}

body {
  background-image: url("./images/background.jpg");
  background-repeat: round;
}

.App {
  text-align: center;
  font-family: var(--mainfont);
}

.to-top-button {
  color: var(--brown);
  text-align: center;
  background: var(--peach);
  border: none;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px var(--brown);
}

#loading {
  margin-top: 100px;
  margin-bottom: 25.6vh;;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
