:root {
  --mint: #abc4aa;
  --lightbrown: #a9907e;
  --white: #f4f4f4;
  --brown: #675d50;
  --peach: #f3deba;
  --browninv: #675d5005;
  --peachinv: #f3deba05;
  --mainfont: "Noto Sans", sans-serif;
  --headerfont: "Rubik Vinyl", cursive;
}

.App {
  text-align: center;
  font-family: var(--mainfont);
}

.body{
  min-height: 55.5vh;
}

#loading {
  margin-top: 50px;
  margin-bottom: 50px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
